@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto+Flex:opsz,wght@8..144,300;8..144,500&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto Flex', sans-serif;
    color:white;
}
body{
    background-color: black;
}
img{
    width:200px;
    height: 300px;
    transition: all 0.5s;
    cursor: pointer;
}
img:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(187, 25, 25, 0.5));
    filter: drop-shadow(15px 10px 5px rgba(75, 13, 13, 0.5));
    transform: scale(1.2);

}